<footer class="container-fluid py-3">
  <div class="row">
    <span class="col-6 col-sm-4">&copy; 2020 {{ site.title }}</span>

    <div class="col-6 col-sm-8">
      <ul class="text-right my-0">
        {% if site.github_username %}
        <li class="d-inline mx-3">
          {% include icon-github.html username=site.github_username %}
        </li>
        {% endif %}

        {% if site.linkedin_username %}
        <li class="d-inline mx-3">
          {% include icon-linkedin.html username=site.linkedin_username %}
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</footer>
