body {
    font-family: "Source Sans Pro", sans-serif;
}

.single-view {
    height: 100vh;
    display: flex;
    flex-flow: column;
}

.single-view main {
    flex-grow: 1;
}

.hero {
    color: white;
    background-image: url(/resources/images/home-hero.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.hero h1 {
    font-weight: 600;
}